body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1290px;
}

.search-form {
  margin: 15px;
}

.load-more {
  margin: 15px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  &__photo {
    max-width: 300px;
  }
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.info-item {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}
